<!DOCTYPE html>
<html>
  <head>
    <title>AmplitudeJS Multiple Songs Example</title>

    <!-- Foundation Framework CSS -->
    <link rel="stylesheet" href="/components/audioplayer-2/css/foundation.min.css">
    <link rel="stylesheet" href="/components/audioplayer-2/css/app.css">

    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
<script src="/components/audioplayer-2/js/amplitude.js"></script>
  </head>
  <body>
    <div class="player">
      <img src="/img/cf-cd-cover-2002.jpg" class="album-art"/>
      <div class="meta-container">
        <div id="songTitle" class="song-title"><span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span></div>
        <div id="songArtist"class="song-artist"><span amplitude-song-info="artist" amplitude-main-song-info="true" class="song-artist"></span></div>
          
          
        <div class="time-container">
          <div class="current-time">
            <span class="amplitude-current-minutes" data-amplitude-song-index="0"></span>:<span class="amplitude-current-seconds" data-amplitude-song-index="0"></span>
          </div>

          <div class="duration">
            <span class="amplitude-duration-minutes" data-amplitude-song-index="0">3</span>:<span class="amplitude-duration-seconds" data-amplitude-song-index="0">30</span>
          </div>
        </div>
        <progress class="amplitude-song-played-progress" data-amplitude-song-index="0" id="song-played-progress-1"></progress>
        <div class="control-container">
          <div class="amplitude-prev">

          </div>
          <div class="amplitude-play-pause" data-amplitude-song-index="0">

          </div>
          <div class="amplitude-next">

          </div>
        </div>
      </div>
    </div>
    
    <div id="preload">
      <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/previous.svg"/>
      <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/play.svg"/>
      <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/pause.svg"/>
      <img src="https://521dimensions.com/img/open-source/amplitudejs/examples/multiple-songs/next.svg"/>
    </div>
   
    <script src="/components/audioplayer-2/js/functions.js"></script>
  </body>
</html>
