{
  "plugins": [
    "transform-class-properties",
    "dynamic-import-node-babel-7",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-export-namespace-from"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ]
}
