/* Rectangle Out */
@mixin rectangle-out {
	@include hacks();
	position: relative;
	background: $primaryColor;
	@include prefixed(transition-property, color);
	@include prefixed(transition-duration, $mediumDuration);

	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
    // background: $activeColor;
    background: rgba(254, 200, 16, .29);
    background: -moz-radial-gradient(circle, rgba(254, 200, 16, .75) 0%, rgba(254, 200, 16, .29) 100%);
    background: -webkit-radial-gradient(circle, rgba(254, 200, 16, .75) 0%, rgba(254, 200, 16, .29) 100%);
    background: radial-gradient(circle, rgba(254, 200, 16, .75) 0%, rgba(254, 200, 16, .29) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#3d3d3d", endColorstr="#000000", GradientType=1);
    border-radius: 50%;
    transition: all 1s ease-in-out;
		@include prefixed(transform, scale(0));
		@include prefixed(transition-property, transform);
		@include prefixed(transition-duration, $mediumDuration);
		@include prefixed(transition-timing-function, ease-out);
	}

	&:hover,
	&:focus,
	&:active {
		color: white;

		&:before {
			@include prefixed(transform, scale(1));
		}
	}
}
