<!DOCTYPE html>
<html>
  <head>
    <title>Crankfish Music</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/css/foundation.min.css">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/js/foundation.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/amplitudejs@latest/dist/amplitude.min.js"></script>
    
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Droid+Serif:400,700,400italic,700italic&display=swap' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bahianita|New+Rocker|OswaldRoboto:300,400,700&display=swap" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/crankfish.min.css" rel="stylesheet">
  
    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
      
  </head>
  <body>

    <div class="player-container container-fluid">
    <div class="player ">
      <div class="album-art-container">
        <img src="/img/cf-cd-cover-2002.jpg" class="album-art"/>
        </div>
        <div class="meta-container">
          <div class="title-artist-container">
            <div id="songTitle" class="song-title"><span data-amplitude-song-info="name" data-amplitude-main-song-info="true" class="song-name"></span></div>
            <div id="songArtist" class="song-artist"><span data-amplitude-song-info="artist" data-amplitude-main-song-info="true" class="song-artist"></span></div>
          </div>
          <div class="control-container">
          <div class="amplitude-prev"></div>
          <div class="play-pause-contianer hvr-rectangle-out">
            <div class="amplitude-play-pause" data-amplitude-song-index="0">
          </div>
          </div>
          <div class="amplitude-next">
          </div>
        </div>
        <div class="time-container">
          <span class="current-time">
            <span class="amplitude-current-minutes" data-amplitude-song-index="0"></span>:<span class="amplitude-current-seconds" data-amplitude-song-index="0"></span>
          </span>
          <span style="margin: 0 4px 0 4px;"> / </span>
          <span class="duration">
            <span class="amplitude-duration-minutes" data-amplitude-song-index="0">3</span>:<span class="amplitude-duration-seconds" data-amplitude-song-index="0">30</span>
          </span>
        </div>
        
        <progress class="amplitude-song-played-progress" data-amplitude-song-index="0" id="song-played-progress-1"></progress>
        
        
    </div>
  </div>
  
  
  <div id="preload">
    <img src="/img/icons/previous.svg"/>
    <img src="/img/icons/play.svg"/>
    <img src="/img/icons/pause.svg"/>
    <img src="/img/icons/next.svg"/>
  </div>
 
  <script src="/components/audioplayer/js/functions.js"></script>
    
   <!--==================================================================================-->
   
  </body>
</html>
