<!DOCTYPE html>
<html>
  <head>
    <title>Crankfish Music</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/css/foundation.min.css">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.1/dist/js/foundation.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/amplitudejs@latest/dist/amplitude.min.js"></script>
    
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Droid+Serif:400,700,400italic,700italic&display=swap' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700,900" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Bahianita|New+Rocker|OswaldRoboto:300,400,700&display=swap" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="/css/crankfish.min.css" rel="stylesheet">
  
    <!-- Include font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
      
  </head>
  <body>
    <div class="player-container container-fluid" >
      
      <div class="player container">
        <div class="row">
          <div class="col-sm-12">
        
        <div class="meta-container container">
          <div class="row">
        <div class="col-sm-1 album-art-container"><img src="/img/cf-cd-cover-2002.jpg" class="album-art" width="80" /></div>
        
          <div class="col-2 title-artist-container ">
            
             <div id="songTitle" class="song-title">
               <span data-amplitude-song-info="name" data-amplitude-main-song-info="true" class="song-name"></span>
             </div>
            <div id="songArtist" class="song-artist">
              <span data-amplitude-song-info="artist" data-amplitude-main-song-info="true" class="song-artist"></span>
             </div>
          
        </div>
        <div class="col-2 control-container">
          <div class="control-wrapper container mx-0">
            <div class="row">
              <div class="col-sm d-flex">
                <div class="amplitude-prev"></div>
              </div>
              <div class="col d-flex">
                <div class="play-pause-contianer hvr-rectangle-out">
                  <div class="amplitude-play-pause" data-amplitude-song-index="0"></div>
                </div>
              </div>
              <div class="col d-flex">
                <div class="amplitude-next"></div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col d-flex progress-container">
          <progress class="amplitude-song-played-progress" data-amplitude-song-index="0" id="song-played-progress-1"></progress>
        </div>
        <div class="time-container">00:00 / 00:00</div>
        
        </div><!--end metacontainerrow-->
      </div><!--end metacontainer-->
      </div>
    </div>
      
    </div> <!--end player-->
    
    </div> <!--end player container-->
  
  <div id="preload">
    <img src="/img/icons/previous.svg"/>
    <img src="/img/icons/play.svg"/>
    <img src="/img/icons/pause.svg"/>
    <img src="/img/icons/next.svg"/>
  </div>
 
  <script src="/components/audioplayer/js/functions.js"></script>
    
   <!--==================================================================================-->
   
  </body>
</html>

